@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

* {
  margin: 10px;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background-color: #a3c0c7;
  font-family: "Montserrat", serif;
  font-size: 12px;
  color: #000000;
}
/* change la taille de l'image de profil */
#presentation img{
  width: 20%;
}

#presentation {
  margin-top: 11vh;
  margin-bottom: 11vh;
}
/* la couleur de fond de toute la page sera bleu clair, la police la plus utilisée sera Edu Australia VIC WA NT Hand Precursive
 et sera généralement en taille 12 px de couleur blanche*/
button {
  background-color: #60759b;
  border: none;
}
button a {
  color: #0f0f0f;
}
h1 {
  font-size: 28px;
  display: flex;
  justify-content: center;
}


ul {
  list-style: none;
}
/* les titres des sections feront 24px */
h2 {
  font-size: 24px;
}
/* les titres des sous-sections feront 20px */

h3 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
/* Si l'écran est de type mobile (de 375 px à 1024 px environ, alors on suit les instructions suivantes */

/* on change le style du bouton */
.project button a {
  text-decoration: none;
  color: white;
  background-color: #4f506d;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}
/* Change la couleur du bouton au survol */
.project button a:hover {
  background-color: #666081;
}

/* On aligne les catégories de la nav, et on les espace */
#navigation div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* On met une marge interne équivalent à 5% de la taille de l'écran en haut, de 10 % à droite, 15% en bas et 10% à gauche*/

#skills {
  padding: 5vh 2vh 10vw;
  border-radius: 30px;
}

/*On crée le display flex, on utilise flex-wrap pour indiquer que si nécessaire, les éléments doivent retourner à la ligne, on justifie le texte et on applique une couleur de fond (ici couleur blé mais sujet à modifications)*/

#skills > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #60759b;
}

.skillsBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  gap: 20px; /* Espacement entre les éléments */
  justify-items: start; /* Aligne les éléments à gauche de leur colonne */
  align-items: center;
}

.skillsBlock li {
  display: flex;
  align-items: center; /* Aligne l'image et le texte verticalement */
}



/* On centre les titres */

#skills > div h3 {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

#skills img{
  width: 5vh;
}

/* on crée le grid qui regroupera les projets */
#myProject {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}
.project {
  display: grid;
  grid-template-rows: max-content 1fr;
  justify-content: center;
  background-color: #60759b;
  font-family: "Playwrite IN", serif;
}

.project h3 {
  display: flex;
  justify-content: center;
}

.project img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
/* on change la couleur de fond du footer */
#contactMe {
  background-color: #60759b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* pour les écran de type desktop */
@media screen and (min-width: 1025px) {
  img {
    max-width: 70vh;
  }
  /* on augmente la taille de la police de la nav */
  ul {
    font-size: 16px;
  }

  /* le texte de la présentation se met à droite de la photo de profil */
  #presentation {
    display: flex;
    align-items: center;
  }


  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  /* Les titres des sections feront 20px */
  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
  #skills img{
    width: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #skills ul li{
    display: flex;
    justify-content: center;
  }


  .pictos{
    margin: 40px;
  }
  /* Section des projets */
  #myProjects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crée une grille avec 2 colonnes */
    gap: 20px; /* Ajoute un espace de 20px entre les cards */
  }

  /* Règles pour chaque projet */
  .project {
    border: 1px solid #ccc; /* Ajoute une bordure autour de chaque projet */
    padding: 10px; /* Un peu d'espace autour de chaque projet */
    box-sizing: border-box;
  }
  /* Les images prendront toute la largeur de leur conteneur */
  .project img {
    width: 100%;
    height: auto; /* Pour garder les proportions de l'image */
  }
}